html {
  background-color: #fffceb;
  font-family: Roboto, sans-serif;
}

.fredoka {
  font-family: "Fredoka One", cursive;
}

.masthead {
  color: #c94742;
}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #c94742;
}

a {
  text-decoration: none;
}

a:focus {
  outline: 3px solid #000;
}

.nav a:focus {
  outline: 3px solid #000;
}

.contact a:focus {
  outline: 3px solid #000;
}

.home:hover,
.tour:hover,
.pricing:hover,
.signup:hover {
  color: #1d2a48;
}

.red-yellow {
  background-color: #c94742;
  color: #f4cb70;
}

.btn {
  border-radius: 100px;
}

.red-yellow-btn {
  background-color: #f4cb70;
  color: #c94742;
  border-color: #f4cb70;
}

.indigo-cream {
  background-color: #1d2a48;
  color: #fffceb;
}

.indigo-teal {
  background-color: #1d2a48;
  color: #73c8a9;
}

.indigo-teal-btn {
  background: #73c8a9;
  border-color: #73c8a9;
  color: #1d2a48;
}

.yellow-indigo {
  background-color: #f4cb70;
  color: #1d2a48;
}

.yellow-indigo-btn {
  background-color: #1d2a48;
  border: #1d2a48;
  color: #f4cb70;
}

.bus-img {
  background-image: url("../images/boy-with-headphones.jpg");
  background-size: cover;
  background-position: center right;
}

.red-cream {
  background-color: #c94742;
  color: #fffceb;
}

.red-cream-btn {
  background-color: #fffceb;
  border-color: #fffceb;
  color: #c94742;
}

.cream-red {
  background-color: #fffceb;
  color: #c94742;
}

.teal-indigo {
  background-color: #73c8a9;
  color: #1d2a48;
}

.neon-instruments-img {
  background-image: url("../images/neon-instruments.jpg");
  background-size: cover;
  background-position: center top;
}

.cream-indigo {
  background-color: #fffceb;
  color: #1d2a48;
}

.textbox {
  border-radius: 100px;
  background-color: #fffceb;
  border-color: #fffceb;
  color: #1d2a48;
}

.questionbox {
  border-radius: 20px;
  background-color: #fffceb;
  border-color: #fffceb;
  color: #1d2a48;
}

.red-yellow-btn:hover {
  background-color: #fffceb;
  border-color: #fffceb;
  color: #c94742;
}

.indigo-teal-btn:hover {
  background-color: #fffceb;
  border-color: #fffceb;
  color: #1d2a48;
}

.yellow-indigo-btn:hover {
  background-color: #fffceb;
  border-color: #fffceb;
  color: #1d2a48;
}

.red-cream-btn:hover {
  background-color: #1d2a48;
  border-color: #1d2a48;
  color: #fffceb;
}

.learnmore {
  color: #fffceb;
}

.learnmore:hover {
  color: #f4cb70;
}

@media only screen and (min-width: 38em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

  .bus {
    display: none;
  }

  .neon-instruments {
    display: none;
  }

}
